---
import Button from "../components/Button.astro";
---

<footer>
  <img src="" alt="" />
  <div class="socialmedie">
    <a href="https://www.facebook.com/karruselfest"
      ><img src="/img/facebook_icon.png" alt="facebook ikon" /></a
    >
    <a href="https://www.instagram.com/karruselfest/"
      ><img src="" alt="instagram ikon" /></a
    >
    <a href="https://soundcloud.com/capriciouscarrot/sets/karrusel-2024"
      ><img src="" alt="soundcloud ikon" /></a
    >
  </div>
  <p>Refshalevej 193, 1432 Copenhagen</p>
  <!-- knap -->
  <Button variant="secondary">DOWNLOAD OUR APP</Button>
</footer>

<style>
  #socialmedie {
  }
</style>
